.skewnav {
  display: flex;
  justify-content: var(--justify);
align-items: center;
  background-color: var(--bg-color);
  color: var(--tx-color);
font-size: 1.2rem;
}
.skewlink {
  color: var(--tx-color);
  background: var(--sk-color);
  text-align: center;
  text-decoration: none;
  border: 1px solid black;
  outline: 0;
  font-size: 1.4rem;
  padding: 15px;
  display: inline-block;
  transform: skew(-30deg);
  width: 100px;
}

.skewlink:hover {
  background: var(--hv-color); 
 color: var(--tx-color);
}
.skewlink span { 
  display: inline-block; 
  transform: skew(30deg); }

}
